.container {
  background: #000;
}
.grey {
  background: grey;
}
.circle {
  border-radius: 50%;
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
}

.new-circle{
  width: 50%;
  height: 50%;
  position: absolute;
}

.top-left {
  top: 0;
  left:0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}
